#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">
  <h1>
    Why is BMI important to know?
  </h1>
</section>
<section class = "ui left aligned left aligned segment">
  <p>

    Body mass index (BMI) is the recommended method for diagnosing overweight and obesity.
    It evaluates the relationship between body weight and height.
    <b>While BMI is not a direct measure of excess body fat,</b>
    it expresses the weight-height relationship and provides a more accurate measure than body weight alone.

    There are many studies that show a link between
    BMI and the risk of several diseases as well as premature death.
    As BMI increases, so does the risk for:
  <ul>- Diabetes</ul>
  <ul>- Cardiovascular Disease </ul>
  <ul>- Stroke</ul>
  <ul>- Hypertension</ul>
  <ul>- Gallbladder Disease</ul>
  <ul>- Osteoarthritis</ul>
  <ul>- Sleep Apnea</ul>
  <ul>- Some Cancers</ul>
  </p>
</section>

<section class="ui center aligned middle aligned segment">

  <img class="ui large centered image" src="/public/images/BMI_About.jpg">

</section>